@font-face {
    font-family: 'Miso';
    src: url("/fonts/miso-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Laisve';
    src: url("/fonts/Laisvas-sriftas.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@import "components/header";
@import "components/guest";
@import "components/map";
